/* CSS file */
.Accordion1 {
   backgroundAlpha: 0.31;
   backgroundColor: #003399;
}
.Accordion2{
   backgroundAlpha: 0.39;
   backgroundColor: #0000ff;
}

.Accordion3 {
   backgroundAlpha: 0.69;
   backgroundColor: #0000ff;
}